@import "~@personio/styling/scss/functions";
@import "~@personio/styling/scss/base";
@import "~@personio/styling/scss/colors";

.wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: pixel-to-rem(800);
  overflow: auto;
}

.table {
  border-collapse: collapse;
  margin-bottom: $space-4;
  table-layout: fixed;
  color: $light-black;

  .tableHeaderRow {
    th {
      color: $light-base;
      background-color: $dark-black;
      border-color: $dark-grey;
      padding: $space-3;
      vertical-align: bottom;
      position: sticky;
      top: 0;
    }
  }

  .tableRow {
    &:nth-child(even) {
      background-color: $white;
    }

    td {
      padding: $space-3;
      vertical-align: top;
      border-top: pixel-to-rem(1) solid $grey;
      text-align: center;
    }
  }
}

.alertWrapper {
  display: flex;
  flex-direction: column;
}
