.wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  max-height: 800px;
  min-height: 400px;
  overflow: auto;
}

.table {
  border-collapse: collapse;
  margin-bottom: 1rem;
  table-layout: fixed;
  color: #212529;

  .tableHeaderRow {
    th {
      color: #fff;
      background-color: #343a40;
      border-color: #454d55;
      padding: 0.75rem;
      vertical-align: bottom;
      position: sticky;
      top: 0;
    }
  }

  .tableRow {
    &:nth-child(even) {
      background-color: #f2f2f2;
    }

    td {
      padding: 0.75rem;
      vertical-align: top;
      border-top: 1px solid #dee2e6;
      text-align: center;
    }
  }
}

.alertWrapper {
  display: flex;
  flex-direction: column;
}
