@import '~@personio/styling/scss/functions';
@import '~@personio/styling/scss/base';
@import '~@personio/styling/scss/colors';
@import '~@personio/styling/scss/mixins';

.wrapper {
  display: flex;
  justify-content: center;
  max-height: pixel-to-rem(700);
  overflow: auto;
}

.table {
  border-collapse: collapse;
  margin-bottom: $space-4;
  table-layout: fixed;
  color: $light-black;

  .tableHeaderRow {
    th {
      color: $light-base;
      background-color: $dark-blue;
      border-color: $blue;
      padding: $space-3;
      vertical-align: bottom;
      position: sticky;
      top: 0;
    }
  }

  .tableRow {
    &:nth-child(even) {
      background-color: $white;
    }

    td {
      padding: $space-3;
      vertical-align: top;
      border-top: pixel-to-rem(1) solid $grey;
      text-align: center;
    }
  }
}

.alertWrapper {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.caption {
  @include screen-reader-only();
}
