@import "../../index";

.container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: $space-4;
}

h1 {
  color: $primary-color;
  font-size: $font-size-l;
}