.button {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.base {
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.error {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.disabled {
  background-color: #e9ecef;
  opacity: 0.8;
  pointer-events: none;
}