@import '~@personio/styling/scss/colors';
@import '~@personio/styling/scss/functions';
@import '~@personio/styling/scss/variables';
@import '~@personio/styling/scss/base';
@import '~@personio/styling/scss/mixins';

.button {
  display: inline-block;
  font-weight: $font-weight-normal;
  color: $light-black;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: pixel-to-rem(1) solid transparent;
  padding: pixel-to-rem(6) pixel-to-rem(12);
  font-size: pixel-to-rem($base-size);
  line-height: 1.5;
  border-radius: $space;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.base {
  background-color: $white;
  border-color: $white;
}

.error {
  color: $light-base;
  background-color: $error-red;
  border-color: $error-red;
}

.disabled {
  @include create-disabled();
}
