$primary-color: #215776;
$secondary-color: #569a9c;
$blue: #3498db;
$dark-blue: #1d28db;
$lighter-base: #f3f3f3;
$light-base: #fff;
$light-black: #212529;
$dark-black: #343a40;
$lighter-grey: #ced4da;
$light-grey: #e9ecef;
$grey: #dee2e6;
$dark-grey: #454d55;
$darker-grey: #495057;
$error-red: #dc3545;
$white: #f8f9fa;
