@import 'index';

.app {
  height: 100%;

  &__header {
    left: 0;
    min-height: $header-height;
    position: fixed;
    right: 0;
  }

  &__title {
    background-color: $primary-color;
    color: $light-base;
    font-size: $font-size-l;
    margin: 0;
    padding: $space-3;
  }

  &__container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    padding-top: $header-height;
  }

  &__content {
    display: flex;
    flex-grow: 1;
    height: 100%;
    justify-content: center;
    flex-direction: column;

    &--filters {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: pixel-to-rem(12);
    }

    &--candidates {
      display: flex;
      justify-content: center;
      min-height: pixel-to-rem(600);
      padding: pixel-to-rem(24);

      .spinner {
        align-self: center;
      }
    }
  }
}
